/**
 * This file was auto-generated by Fern from our API Definition.
 */
package io.github.payabli.api.resources.taptopay;

import com.fasterxml.jackson.core.JsonProcessingException;
import io.github.payabli.api.core.ClientOptions;
import io.github.payabli.api.core.EndpointMetadata;
import io.github.payabli.api.core.MediaTypes;
import io.github.payabli.api.core.ObjectMappers;
import io.github.payabli.api.core.PayabliApiClientApiException;
import io.github.payabli.api.core.PayabliApiClientException;
import io.github.payabli.api.core.PayabliApiClientHttpResponse;
import io.github.payabli.api.core.RequestOptions;
import io.github.payabli.api.core.RetryInterceptor;
import io.github.payabli.api.errors.BadRequestError;
import io.github.payabli.api.errors.ForbiddenError;
import io.github.payabli.api.errors.InternalServerError;
import io.github.payabli.api.errors.NotFoundError;
import io.github.payabli.api.errors.UnauthorizedError;
import io.github.payabli.api.resources.taptopay.requests.TapToPayActivationChallengeRequest;
import io.github.payabli.api.types.PayabliErrorBody;
import io.github.payabli.api.types.TapToPayActivationChallengeResponse;
import java.io.IOException;
import java.util.HashMap;
import java.util.Map;
import java.util.concurrent.CompletableFuture;
import okhttp3.Call;
import okhttp3.Callback;
import okhttp3.Headers;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.RequestBody;
import okhttp3.Response;
import okhttp3.ResponseBody;
import org.jetbrains.annotations.NotNull;

public class AsyncRawTaptopayClient {
    protected final ClientOptions clientOptions;

    public AsyncRawTaptopayClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
    }

    /**
     * Issues a short-lived activation code for a Tap to Pay device in the
     * <code>Pending</code> state. This endpoint is for Tap to Pay devices only.
     * Deliver the code to the device to complete activation.
     * <p>A code is valid for 30 minutes after it's issued. Calling this
     * endpoint again for the same device before the code expires returns
     * the same code, with <code>alreadyIssued</code> set to <code>true</code>, instead of
     * generating a new one. A new code is only generated when no valid
     * code exists.</p>
     * <p>Authenticate with an OAuth2 bearer token that has the <code>pos_create</code>
     * permission. See <a href="/guides/pay-in-developer-tap-to-pay">Accept Tap to Pay payments</a>
     * for the full integration guide.</p>
     */
    public CompletableFuture<PayabliApiClientHttpResponse<TapToPayActivationChallengeResponse>> activationChallenge(
            TapToPayActivationChallengeRequest request) {
        return activationChallenge(request, null);
    }

    /**
     * Issues a short-lived activation code for a Tap to Pay device in the
     * <code>Pending</code> state. This endpoint is for Tap to Pay devices only.
     * Deliver the code to the device to complete activation.
     * <p>A code is valid for 30 minutes after it's issued. Calling this
     * endpoint again for the same device before the code expires returns
     * the same code, with <code>alreadyIssued</code> set to <code>true</code>, instead of
     * generating a new one. A new code is only generated when no valid
     * code exists.</p>
     * <p>Authenticate with an OAuth2 bearer token that has the <code>pos_create</code>
     * permission. See <a href="/guides/pay-in-developer-tap-to-pay">Accept Tap to Pay payments</a>
     * for the full integration guide.</p>
     */
    public CompletableFuture<PayabliApiClientHttpResponse<TapToPayActivationChallengeResponse>> activationChallenge(
            TapToPayActivationChallengeRequest request, RequestOptions requestOptions) {
        HttpUrl.Builder httpUrl = HttpUrl.parse(this.clientOptions.environment().getUrl())
                .newBuilder()
                .addPathSegments("v2/device/taptopay/activate/challenge");
        if (requestOptions != null) {
            requestOptions.getQueryParameters().forEach((_key, _value) -> {
                httpUrl.addQueryParameter(_key, _value);
            });
        }
        RequestBody body;
        try {
            body = RequestBody.create(
                    ObjectMappers.JSON_MAPPER.writeValueAsBytes(request), MediaTypes.APPLICATION_JSON);
        } catch (JsonProcessingException e) {
            throw new PayabliApiClientException("Failed to serialize request", e);
        }
        Map<String, String> _headers = new HashMap<>(clientOptions.headers(requestOptions));
        _headers.putAll(clientOptions.getAuthHeaders(
                EndpointMetadata.of(EndpointMetadata.requirement(EndpointMetadata.scheme("BearerAuth")))));
        Request okhttpRequest = new Request.Builder()
                .url(httpUrl.build())
                .method("POST", body)
                .headers(Headers.of(_headers))
                .addHeader("Content-Type", "application/json")
                .addHeader("Accept", "application/json")
                .build();
        OkHttpClient client = clientOptions.httpClient();
        if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
            client = clientOptions.httpClientWithTimeout(requestOptions);
        }
        if (requestOptions != null && requestOptions.getMaxRetries().isPresent()) {
            okhttpRequest = okhttpRequest
                    .newBuilder()
                    .tag(
                            RetryInterceptor.MaxRetriesOverride.class,
                            new RetryInterceptor.MaxRetriesOverride(
                                    requestOptions.getMaxRetries().get()))
                    .build();
        }
        CompletableFuture<PayabliApiClientHttpResponse<TapToPayActivationChallengeResponse>> future =
                new CompletableFuture<>();
        client.newCall(okhttpRequest).enqueue(new Callback() {
            @Override
            public void onResponse(@NotNull Call call, @NotNull Response response) throws IOException {
                try (ResponseBody responseBody = response.body()) {
                    String responseBodyString = responseBody != null ? responseBody.string() : "{}";
                    if (response.isSuccessful()) {
                        future.complete(new PayabliApiClientHttpResponse<>(
                                ObjectMappers.JSON_MAPPER.readValue(
                                        responseBodyString, TapToPayActivationChallengeResponse.class),
                                response));
                        return;
                    }
                    try {
                        switch (response.code()) {
                            case 400:
                                future.completeExceptionally(new BadRequestError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 401:
                                future.completeExceptionally(new UnauthorizedError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, PayabliErrorBody.class),
                                        response));
                                return;
                            case 403:
                                future.completeExceptionally(new ForbiddenError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 404:
                                future.completeExceptionally(new NotFoundError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 500:
                                future.completeExceptionally(new InternalServerError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                        }
                    } catch (JsonProcessingException ignored) {
                        // unable to map error response, throwing generic error
                    }
                    Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
                    future.completeExceptionally(new PayabliApiClientApiException(
                            "Error with status code " + response.code(), response.code(), errorBody, response));
                    return;
                } catch (JsonProcessingException e) {
                    future.completeExceptionally(
                            new PayabliApiClientException("Failed to deserialize response: " + e.getMessage(), e));
                } catch (IOException e) {
                    future.completeExceptionally(
                            new PayabliApiClientException("Network error executing HTTP request", e));
                }
            }

            @Override
            public void onFailure(@NotNull Call call, @NotNull IOException e) {
                future.completeExceptionally(new PayabliApiClientException("Network error executing HTTP request", e));
            }
        });
        return future;
    }
}
