/**
 * This file was auto-generated by Fern from our API Definition.
 */
package io.github.payabli.api.resources.taptopay;

import io.github.payabli.api.core.ClientOptions;
import io.github.payabli.api.core.RequestOptions;
import io.github.payabli.api.resources.taptopay.requests.TapToPayActivationChallengeRequest;
import io.github.payabli.api.types.TapToPayActivationChallengeResponse;
import java.util.concurrent.CompletableFuture;

public class AsyncTaptopayClient {
    protected final ClientOptions clientOptions;

    private final AsyncRawTaptopayClient rawClient;

    public AsyncTaptopayClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new AsyncRawTaptopayClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public AsyncRawTaptopayClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Issues a short-lived activation code for a Tap to Pay device in the
     * <code>Pending</code> state. This endpoint is for Tap to Pay devices only.
     * Deliver the code to the device to complete activation.
     * <p>A code is valid for 30 minutes after it's issued. Calling this
     * endpoint again for the same device before the code expires returns
     * the same code, with <code>alreadyIssued</code> set to <code>true</code>, instead of
     * generating a new one. A new code is only generated when no valid
     * code exists.</p>
     * <p>Authenticate with an OAuth2 bearer token that has the <code>pos_create</code>
     * permission. See <a href="/guides/pay-in-developer-tap-to-pay">Accept Tap to Pay payments</a>
     * for the full integration guide.</p>
     */
    public CompletableFuture<TapToPayActivationChallengeResponse> activationChallenge(
            TapToPayActivationChallengeRequest request) {
        return this.rawClient.activationChallenge(request).thenApply(response -> response.body());
    }

    /**
     * Issues a short-lived activation code for a Tap to Pay device in the
     * <code>Pending</code> state. This endpoint is for Tap to Pay devices only.
     * Deliver the code to the device to complete activation.
     * <p>A code is valid for 30 minutes after it's issued. Calling this
     * endpoint again for the same device before the code expires returns
     * the same code, with <code>alreadyIssued</code> set to <code>true</code>, instead of
     * generating a new one. A new code is only generated when no valid
     * code exists.</p>
     * <p>Authenticate with an OAuth2 bearer token that has the <code>pos_create</code>
     * permission. See <a href="/guides/pay-in-developer-tap-to-pay">Accept Tap to Pay payments</a>
     * for the full integration guide.</p>
     */
    public CompletableFuture<TapToPayActivationChallengeResponse> activationChallenge(
            TapToPayActivationChallengeRequest request, RequestOptions requestOptions) {
        return this.rawClient.activationChallenge(request, requestOptions).thenApply(response -> response.body());
    }
}
