/**
 * This file was auto-generated by Fern from our API Definition.
 */
package io.github.payabli.api.resources.moneyin;

import io.github.payabli.api.core.ClientOptions;
import io.github.payabli.api.core.RequestOptions;
import io.github.payabli.api.resources.moneyin.requests.RequestCredit;
import io.github.payabli.api.resources.moneyin.requests.RequestPayment;
import io.github.payabli.api.resources.moneyin.requests.RequestPaymentAuthorize;
import io.github.payabli.api.resources.moneyin.requests.RequestPaymentAuthorizeV2;
import io.github.payabli.api.resources.moneyin.requests.RequestPaymentV2;
import io.github.payabli.api.resources.moneyin.requests.RequestPaymentValidate;
import io.github.payabli.api.resources.moneyin.requests.RequestRefund;
import io.github.payabli.api.resources.moneyin.requests.SendReceipt2TransRequest;
import io.github.payabli.api.resources.moneyin.types.AuthResponse;
import io.github.payabli.api.resources.moneyin.types.CaptureRequest;
import io.github.payabli.api.resources.moneyin.types.CaptureResponse;
import io.github.payabli.api.resources.moneyin.types.PayabliApiResponseGetPaid;
import io.github.payabli.api.resources.moneyin.types.ReceiptResponse;
import io.github.payabli.api.resources.moneyin.types.RefundResponse;
import io.github.payabli.api.resources.moneyin.types.RefundWithInstructionsResponse;
import io.github.payabli.api.resources.moneyin.types.ReverseResponse;
import io.github.payabli.api.resources.moneyin.types.ValidateResponse;
import io.github.payabli.api.resources.moneyin.types.VoidResponse;
import io.github.payabli.api.resources.v2moneyintypes.types.V2TransactionResponseWrapper;
import io.github.payabli.api.types.PayabliApiResponse;
import io.github.payabli.api.types.PayabliApiResponse0;
import io.github.payabli.api.types.TransactionQueryRecordsCustomer;
import java.util.concurrent.CompletableFuture;

public class AsyncMoneyInClient {
    protected final ClientOptions clientOptions;

    private final AsyncRawMoneyInClient rawClient;

    public AsyncMoneyInClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new AsyncRawMoneyInClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public AsyncRawMoneyInClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Authorize a card transaction. This returns an authorization code and reserves funds for the merchant. Authorized transactions aren't flagged for settlement until <a href="/api-reference/moneyin/capture-an-authorized-transaction">captured</a>.
     * Only card transactions can be authorized. This endpoint can't be used for ACH transactions.
     * &lt;Tip&gt;
     * Consider migrating to the <a href="/developers/api-reference/moneyinV2/authorize-a-transaction">v2 Authorize endpoint</a> to take advantage of unified response codes and improved response consistency.
     * &lt;/Tip&gt;
     */
    public CompletableFuture<AuthResponse> authorize(RequestPaymentAuthorize request) {
        return this.rawClient.authorize(request).thenApply(response -> response.body());
    }

    /**
     * Authorize a card transaction. This returns an authorization code and reserves funds for the merchant. Authorized transactions aren't flagged for settlement until <a href="/api-reference/moneyin/capture-an-authorized-transaction">captured</a>.
     * Only card transactions can be authorized. This endpoint can't be used for ACH transactions.
     * &lt;Tip&gt;
     * Consider migrating to the <a href="/developers/api-reference/moneyinV2/authorize-a-transaction">v2 Authorize endpoint</a> to take advantage of unified response codes and improved response consistency.
     * &lt;/Tip&gt;
     */
    public CompletableFuture<AuthResponse> authorize(RequestPaymentAuthorize request, RequestOptions requestOptions) {
        return this.rawClient.authorize(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * <p>&lt;Warning&gt;
     *   This endpoint is deprecated and will be sunset on November 24, 2025. Migrate to [POST `/capture/{transId}`](/api-reference/moneyin/capture-an-authorized-transaction)`.
     * &lt;/Warning&gt;</p>
     * Capture an <a href="/api-reference/moneyin/authorize-a-transaction">authorized
     * transaction</a> to complete the transaction and move funds from the customer to merchant account.
     */
    public CompletableFuture<CaptureResponse> capture(String transId, double amount) {
        return this.rawClient.capture(transId, amount).thenApply(response -> response.body());
    }

    /**
     * <p>&lt;Warning&gt;
     *   This endpoint is deprecated and will be sunset on November 24, 2025. Migrate to [POST `/capture/{transId}`](/api-reference/moneyin/capture-an-authorized-transaction)`.
     * &lt;/Warning&gt;</p>
     * Capture an <a href="/api-reference/moneyin/authorize-a-transaction">authorized
     * transaction</a> to complete the transaction and move funds from the customer to merchant account.
     */
    public CompletableFuture<CaptureResponse> capture(String transId, double amount, RequestOptions requestOptions) {
        return this.rawClient.capture(transId, amount, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Capture an <a href="/api-reference/moneyin/authorize-a-transaction">authorized transaction</a> to complete the transaction and move funds from the customer to merchant account.
     * <p>You can use this endpoint to capture both full and partial amounts of the original authorized transaction. See <a href="/developers/developer-guides/pay-in-auth-and-capture">Capture an authorized transaction</a> for more information about this endpoint.</p>
     * <p>&lt;Tip&gt;
     * Consider migrating to the [v2 Capture endpoint](/developers/api-reference/moneyinV2/capture-an-authorized-transaction) to take advantage of unified response codes and improved response consistency.
     * &lt;/Tip&gt;</p>
     */
    public CompletableFuture<CaptureResponse> captureAuth(String transId, CaptureRequest request) {
        return this.rawClient.captureAuth(transId, request).thenApply(response -> response.body());
    }

    /**
     * Capture an <a href="/api-reference/moneyin/authorize-a-transaction">authorized transaction</a> to complete the transaction and move funds from the customer to merchant account.
     * <p>You can use this endpoint to capture both full and partial amounts of the original authorized transaction. See <a href="/developers/developer-guides/pay-in-auth-and-capture">Capture an authorized transaction</a> for more information about this endpoint.</p>
     * <p>&lt;Tip&gt;
     * Consider migrating to the [v2 Capture endpoint](/developers/api-reference/moneyinV2/capture-an-authorized-transaction) to take advantage of unified response codes and improved response consistency.
     * &lt;/Tip&gt;</p>
     */
    public CompletableFuture<CaptureResponse> captureAuth(
            String transId, CaptureRequest request, RequestOptions requestOptions) {
        return this.rawClient.captureAuth(transId, request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Make a temporary microdeposit in a customer account to verify the customer's ownership and access to the target account. Reverse the microdeposit with <code>reverseCredit</code>.
     * <p>This feature must be enabled by Payabli on a per-merchant basis. Contact support for help.</p>
     */
    public CompletableFuture<PayabliApiResponse0> credit(RequestCredit request) {
        return this.rawClient.credit(request).thenApply(response -> response.body());
    }

    /**
     * Make a temporary microdeposit in a customer account to verify the customer's ownership and access to the target account. Reverse the microdeposit with <code>reverseCredit</code>.
     * <p>This feature must be enabled by Payabli on a per-merchant basis. Contact support for help.</p>
     */
    public CompletableFuture<PayabliApiResponse0> credit(RequestCredit request, RequestOptions requestOptions) {
        return this.rawClient.credit(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Retrieve a processed transaction's details.
     */
    public CompletableFuture<TransactionQueryRecordsCustomer> details(String transId) {
        return this.rawClient.details(transId).thenApply(response -> response.body());
    }

    /**
     * Retrieve a processed transaction's details.
     */
    public CompletableFuture<TransactionQueryRecordsCustomer> details(String transId, RequestOptions requestOptions) {
        return this.rawClient.details(transId, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Make a single transaction. This method authorizes and captures a payment in one step.
     * <p>  &lt;Tip&gt;
     *   Consider migrating to the [v2 Make a transaction endpoint](/developers/api-reference/moneyinV2/make-a-transaction) to take advantage of unified response codes and improved response consistency.
     *   &lt;/Tip&gt;</p>
     */
    public CompletableFuture<PayabliApiResponseGetPaid> getpaid(RequestPayment request) {
        return this.rawClient.getpaid(request).thenApply(response -> response.body());
    }

    /**
     * Make a single transaction. This method authorizes and captures a payment in one step.
     * <p>  &lt;Tip&gt;
     *   Consider migrating to the [v2 Make a transaction endpoint](/developers/api-reference/moneyinV2/make-a-transaction) to take advantage of unified response codes and improved response consistency.
     *   &lt;/Tip&gt;</p>
     */
    public CompletableFuture<PayabliApiResponseGetPaid> getpaid(RequestPayment request, RequestOptions requestOptions) {
        return this.rawClient.getpaid(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * A reversal either refunds or voids a transaction independent of the transaction's settlement status. Send a reversal request for a transaction, and Payabli automatically determines whether it's a refund or void. You don't need to know whether the transaction is settled or not.
     */
    public CompletableFuture<ReverseResponse> reverse(String transId, double amount) {
        return this.rawClient.reverse(transId, amount).thenApply(response -> response.body());
    }

    /**
     * A reversal either refunds or voids a transaction independent of the transaction's settlement status. Send a reversal request for a transaction, and Payabli automatically determines whether it's a refund or void. You don't need to know whether the transaction is settled or not.
     */
    public CompletableFuture<ReverseResponse> reverse(String transId, double amount, RequestOptions requestOptions) {
        return this.rawClient.reverse(transId, amount, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Refund a transaction that has settled and send money back to the account holder. If a transaction hasn't been settled, void it instead.
     * <p>  &lt;Tip&gt;
     *   Consider migrating to the [v2 Refund endpoint](/developers/api-reference/moneyinV2/refund-a-settled-transaction) to take advantage of unified response codes and improved response consistency.
     *   &lt;/Tip&gt;</p>
     */
    public CompletableFuture<RefundResponse> refund(String transId, double amount) {
        return this.rawClient.refund(transId, amount).thenApply(response -> response.body());
    }

    /**
     * Refund a transaction that has settled and send money back to the account holder. If a transaction hasn't been settled, void it instead.
     * <p>  &lt;Tip&gt;
     *   Consider migrating to the [v2 Refund endpoint](/developers/api-reference/moneyinV2/refund-a-settled-transaction) to take advantage of unified response codes and improved response consistency.
     *   &lt;/Tip&gt;</p>
     */
    public CompletableFuture<RefundResponse> refund(String transId, double amount, RequestOptions requestOptions) {
        return this.rawClient.refund(transId, amount, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Refunds a settled transaction with split instructions.
     */
    public CompletableFuture<RefundWithInstructionsResponse> refundWithInstructions(String transId) {
        return this.rawClient.refundWithInstructions(transId).thenApply(response -> response.body());
    }

    /**
     * Refunds a settled transaction with split instructions.
     */
    public CompletableFuture<RefundWithInstructionsResponse> refundWithInstructions(
            String transId, RequestRefund request) {
        return this.rawClient.refundWithInstructions(transId, request).thenApply(response -> response.body());
    }

    /**
     * Refunds a settled transaction with split instructions.
     */
    public CompletableFuture<RefundWithInstructionsResponse> refundWithInstructions(
            String transId, RequestRefund request, RequestOptions requestOptions) {
        return this.rawClient
                .refundWithInstructions(transId, request, requestOptions)
                .thenApply(response -> response.body());
    }

    /**
     * Reverse microdeposits that are used to verify customer account ownership and access. The <code>transId</code> value is returned in the success response for the original credit transaction made with <code>api/MoneyIn/makecredit</code>.
     */
    public CompletableFuture<PayabliApiResponse> reverseCredit(String transId) {
        return this.rawClient.reverseCredit(transId).thenApply(response -> response.body());
    }

    /**
     * Reverse microdeposits that are used to verify customer account ownership and access. The <code>transId</code> value is returned in the success response for the original credit transaction made with <code>api/MoneyIn/makecredit</code>.
     */
    public CompletableFuture<PayabliApiResponse> reverseCredit(String transId, RequestOptions requestOptions) {
        return this.rawClient.reverseCredit(transId, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Send a payment receipt for a transaction.
     */
    public CompletableFuture<ReceiptResponse> sendReceipt2Trans(String transId) {
        return this.rawClient.sendReceipt2Trans(transId).thenApply(response -> response.body());
    }

    /**
     * Send a payment receipt for a transaction.
     */
    public CompletableFuture<ReceiptResponse> sendReceipt2Trans(String transId, SendReceipt2TransRequest request) {
        return this.rawClient.sendReceipt2Trans(transId, request).thenApply(response -> response.body());
    }

    /**
     * Send a payment receipt for a transaction.
     */
    public CompletableFuture<ReceiptResponse> sendReceipt2Trans(
            String transId, SendReceipt2TransRequest request, RequestOptions requestOptions) {
        return this.rawClient
                .sendReceipt2Trans(transId, request, requestOptions)
                .thenApply(response -> response.body());
    }

    /**
     * Validates a card number without running a transaction or authorizing a charge.
     */
    public CompletableFuture<ValidateResponse> validate(RequestPaymentValidate request) {
        return this.rawClient.validate(request).thenApply(response -> response.body());
    }

    /**
     * Validates a card number without running a transaction or authorizing a charge.
     */
    public CompletableFuture<ValidateResponse> validate(RequestPaymentValidate request, RequestOptions requestOptions) {
        return this.rawClient.validate(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Cancel a transaction that hasn't been settled yet. Voiding non-captured authorizations prevents future captures. If a transaction has been settled, refund it instead.
     * <p>  &lt;Tip&gt;
     *   Consider migrating to the [v2 Void endpoint](/developers/api-reference/moneyinV2/void-a-transaction) to take advantage of unified response codes and improved response consistency.
     *   &lt;/Tip&gt;</p>
     */
    public CompletableFuture<VoidResponse> void_(String transId) {
        return this.rawClient.void_(transId).thenApply(response -> response.body());
    }

    /**
     * Cancel a transaction that hasn't been settled yet. Voiding non-captured authorizations prevents future captures. If a transaction has been settled, refund it instead.
     * <p>  &lt;Tip&gt;
     *   Consider migrating to the [v2 Void endpoint](/developers/api-reference/moneyinV2/void-a-transaction) to take advantage of unified response codes and improved response consistency.
     *   &lt;/Tip&gt;</p>
     */
    public CompletableFuture<VoidResponse> void_(String transId, RequestOptions requestOptions) {
        return this.rawClient.void_(transId, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Make a single transaction. This method authorizes and captures a payment in one step. This is the v2 version of the <code>api/MoneyIn/getpaid</code> endpoint, and returns the unified response format. See <a href="/developers/references/pay-in-unified-response-codes">Pay In unified response codes reference</a> for more information.
     */
    public CompletableFuture<V2TransactionResponseWrapper> getpaidv2(RequestPaymentV2 request) {
        return this.rawClient.getpaidv2(request).thenApply(response -> response.body());
    }

    /**
     * Make a single transaction. This method authorizes and captures a payment in one step. This is the v2 version of the <code>api/MoneyIn/getpaid</code> endpoint, and returns the unified response format. See <a href="/developers/references/pay-in-unified-response-codes">Pay In unified response codes reference</a> for more information.
     */
    public CompletableFuture<V2TransactionResponseWrapper> getpaidv2(
            RequestPaymentV2 request, RequestOptions requestOptions) {
        return this.rawClient.getpaidv2(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Authorize a card transaction. This returns an authorization code and reserves funds for the merchant. Authorized transactions aren't flagged for settlement until captured. This is the v2 version of the <code>api/MoneyIn/authorize</code> endpoint, and returns the unified response format. See <a href="/developers/references/pay-in-unified-response-codes">Pay In unified response codes reference</a> for more information.
     * <p><strong>Note</strong>: Only card transactions can be authorized. This endpoint can't be used for ACH transactions.</p>
     */
    public CompletableFuture<V2TransactionResponseWrapper> authorizev2(RequestPaymentAuthorizeV2 request) {
        return this.rawClient.authorizev2(request).thenApply(response -> response.body());
    }

    /**
     * Authorize a card transaction. This returns an authorization code and reserves funds for the merchant. Authorized transactions aren't flagged for settlement until captured. This is the v2 version of the <code>api/MoneyIn/authorize</code> endpoint, and returns the unified response format. See <a href="/developers/references/pay-in-unified-response-codes">Pay In unified response codes reference</a> for more information.
     * <p><strong>Note</strong>: Only card transactions can be authorized. This endpoint can't be used for ACH transactions.</p>
     */
    public CompletableFuture<V2TransactionResponseWrapper> authorizev2(
            RequestPaymentAuthorizeV2 request, RequestOptions requestOptions) {
        return this.rawClient.authorizev2(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Capture an authorized transaction to complete the transaction and move funds from the customer to merchant account. This is the v2 version of the <code>api/MoneyIn/capture/{transId}</code> endpoint, and returns the unified response format. See <a href="/developers/references/pay-in-unified-response-codes">Pay In unified response codes reference</a> for more information.
     */
    public CompletableFuture<V2TransactionResponseWrapper> capturev2(String transId, CaptureRequest request) {
        return this.rawClient.capturev2(transId, request).thenApply(response -> response.body());
    }

    /**
     * Capture an authorized transaction to complete the transaction and move funds from the customer to merchant account. This is the v2 version of the <code>api/MoneyIn/capture/{transId}</code> endpoint, and returns the unified response format. See <a href="/developers/references/pay-in-unified-response-codes">Pay In unified response codes reference</a> for more information.
     */
    public CompletableFuture<V2TransactionResponseWrapper> capturev2(
            String transId, CaptureRequest request, RequestOptions requestOptions) {
        return this.rawClient.capturev2(transId, request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Give a full refund for a transaction that has settled and send money back to the account holder. To perform a partial refund, see <a href="developers/api-reference/moneyinV2/partial-refund-a-settled-transaction">Partially refund a transaction</a>.
     * <p>This is the v2 version of the refund endpoint, and returns the unified response format. See <a href="/developers/references/pay-in-unified-response-codes">Pay In unified response codes reference</a> for more information.</p>
     */
    public CompletableFuture<V2TransactionResponseWrapper> refundv2(String transId) {
        return this.rawClient.refundv2(transId).thenApply(response -> response.body());
    }

    /**
     * Give a full refund for a transaction that has settled and send money back to the account holder. To perform a partial refund, see <a href="developers/api-reference/moneyinV2/partial-refund-a-settled-transaction">Partially refund a transaction</a>.
     * <p>This is the v2 version of the refund endpoint, and returns the unified response format. See <a href="/developers/references/pay-in-unified-response-codes">Pay In unified response codes reference</a> for more information.</p>
     */
    public CompletableFuture<V2TransactionResponseWrapper> refundv2(String transId, RequestOptions requestOptions) {
        return this.rawClient.refundv2(transId, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Refund a transaction that has settled and send money back to the account holder. If <code>amount</code> is omitted or set to 0, performs a full refund. When a non-zero <code>amount</code> is provided, this endpoint performs a partial refund.
     * <p>This is the v2 version of the refund endpoint, and returns the unified response format. See <a href="/developers/references/pay-in-unified-response-codes">Pay In unified response codes reference</a> for more information.</p>
     */
    public CompletableFuture<V2TransactionResponseWrapper> refundv2Amount(String transId, double amount) {
        return this.rawClient.refundv2Amount(transId, amount).thenApply(response -> response.body());
    }

    /**
     * Refund a transaction that has settled and send money back to the account holder. If <code>amount</code> is omitted or set to 0, performs a full refund. When a non-zero <code>amount</code> is provided, this endpoint performs a partial refund.
     * <p>This is the v2 version of the refund endpoint, and returns the unified response format. See <a href="/developers/references/pay-in-unified-response-codes">Pay In unified response codes reference</a> for more information.</p>
     */
    public CompletableFuture<V2TransactionResponseWrapper> refundv2Amount(
            String transId, double amount, RequestOptions requestOptions) {
        return this.rawClient.refundv2Amount(transId, amount, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Cancel a transaction that hasn't been settled yet. Voiding non-captured authorizations prevents future captures. This is the v2 version of the <code>api/MoneyIn/void/{transId}</code> endpoint, and returns the unified response format. See <a href="/developers/references/pay-in-unified-response-codes">Pay In unified response codes reference</a> for more information.
     */
    public CompletableFuture<V2TransactionResponseWrapper> voidv2(String transId) {
        return this.rawClient.voidv2(transId).thenApply(response -> response.body());
    }

    /**
     * Cancel a transaction that hasn't been settled yet. Voiding non-captured authorizations prevents future captures. This is the v2 version of the <code>api/MoneyIn/void/{transId}</code> endpoint, and returns the unified response format. See <a href="/developers/references/pay-in-unified-response-codes">Pay In unified response codes reference</a> for more information.
     */
    public CompletableFuture<V2TransactionResponseWrapper> voidv2(String transId, RequestOptions requestOptions) {
        return this.rawClient.voidv2(transId, requestOptions).thenApply(response -> response.body());
    }
}
