/**
 * This file was auto-generated by Fern from our API Definition.
 */
package io.github.payabli.api.resources.moneyout;

import io.github.payabli.api.core.ClientOptions;
import io.github.payabli.api.core.RequestOptions;
import io.github.payabli.api.resources.moneyout.requests.CaptureAllOutRequest;
import io.github.payabli.api.resources.moneyout.requests.CaptureOutRequest;
import io.github.payabli.api.resources.moneyout.requests.PayoutRequest;
import io.github.payabli.api.resources.moneyout.requests.ReissueOutRequest;
import io.github.payabli.api.resources.moneyout.requests.RenewVCardRequest;
import io.github.payabli.api.resources.moneyout.requests.RequestOutAuthorize;
import io.github.payabli.api.resources.moneyout.requests.SendVCardLinkRequest;
import io.github.payabli.api.types.AllowedCheckPaymentStatus;
import io.github.payabli.api.types.AuthCapturePayoutResponse;
import io.github.payabli.api.types.AuthorizePayoutBody;
import io.github.payabli.api.types.BillDetailResponse;
import io.github.payabli.api.types.CaptureAllOutResponse;
import io.github.payabli.api.types.OperationResult;
import io.github.payabli.api.types.PayabliApiResponse0000;
import io.github.payabli.api.types.PayabliApiResponse00Responsedatanonobject;
import io.github.payabli.api.types.ReissuePayoutResponse;
import io.github.payabli.api.types.RenewVCardResponse;
import io.github.payabli.api.types.VCardGetResponse;
import java.util.List;
import java.util.concurrent.CompletableFuture;

public class AsyncMoneyOutClient {
    protected final ClientOptions clientOptions;

    private final AsyncRawMoneyOutClient rawClient;

    public AsyncMoneyOutClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new AsyncRawMoneyOutClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public AsyncRawMoneyOutClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Authorizes a transaction for payout.
     * <p>If you don't pass <code>autoCapture</code> with a value of <code>true</code>, authorized transactions aren't flagged for settlement until captured. Use the <code>referenceId</code> returned in the response to capture the transaction.</p>
     * <p>When <code>autoCapture</code> is <code>true</code>, Payabli captures the transaction asynchronously after authorization. The response confirms only that the transaction was authorized; it doesn't confirm that capture succeeded. To confirm capture, listen for the <a href="/developers/webhooks/payout-transaction-approved-captured"><code>payout_transaction_approvedcaptured</code></a> webhook event.</p>
     * <p>If a velocity fraud alert is triggered, the endpoint returns a <code>202</code> response with <code>responseCode</code> <code>9051</code>, and the authorization is held for risk review rather than rejected. If a risk policy blocks the transaction, the endpoint returns a <code>422</code> response with <code>responseCode</code> <code>9005</code>, a terminal rejection.</p>
     * <p>For check payouts, Payabli validates the remit (mailing) address at authorization. If the address fails deliverability validation, the endpoint returns a <code>422</code> response and doesn't charge the paypoint. Correct the address and re-authorize. Other payout rails (ACH, RTP, virtual card, wire, and managed payables) aren't affected.</p>
     */
    public CompletableFuture<AuthCapturePayoutResponse> authorizeOut(AuthorizePayoutBody body) {
        return this.rawClient.authorizeOut(body).thenApply(response -> response.body());
    }

    /**
     * Authorizes a transaction for payout.
     * <p>If you don't pass <code>autoCapture</code> with a value of <code>true</code>, authorized transactions aren't flagged for settlement until captured. Use the <code>referenceId</code> returned in the response to capture the transaction.</p>
     * <p>When <code>autoCapture</code> is <code>true</code>, Payabli captures the transaction asynchronously after authorization. The response confirms only that the transaction was authorized; it doesn't confirm that capture succeeded. To confirm capture, listen for the <a href="/developers/webhooks/payout-transaction-approved-captured"><code>payout_transaction_approvedcaptured</code></a> webhook event.</p>
     * <p>If a velocity fraud alert is triggered, the endpoint returns a <code>202</code> response with <code>responseCode</code> <code>9051</code>, and the authorization is held for risk review rather than rejected. If a risk policy blocks the transaction, the endpoint returns a <code>422</code> response with <code>responseCode</code> <code>9005</code>, a terminal rejection.</p>
     * <p>For check payouts, Payabli validates the remit (mailing) address at authorization. If the address fails deliverability validation, the endpoint returns a <code>422</code> response and doesn't charge the paypoint. Correct the address and re-authorize. Other payout rails (ACH, RTP, virtual card, wire, and managed payables) aren't affected.</p>
     */
    public CompletableFuture<AuthCapturePayoutResponse> authorizeOut(
            AuthorizePayoutBody body, RequestOptions requestOptions) {
        return this.rawClient.authorizeOut(body, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Authorizes a transaction for payout.
     * <p>If you don't pass <code>autoCapture</code> with a value of <code>true</code>, authorized transactions aren't flagged for settlement until captured. Use the <code>referenceId</code> returned in the response to capture the transaction.</p>
     * <p>When <code>autoCapture</code> is <code>true</code>, Payabli captures the transaction asynchronously after authorization. The response confirms only that the transaction was authorized; it doesn't confirm that capture succeeded. To confirm capture, listen for the <a href="/developers/webhooks/payout-transaction-approved-captured"><code>payout_transaction_approvedcaptured</code></a> webhook event.</p>
     * <p>If a velocity fraud alert is triggered, the endpoint returns a <code>202</code> response with <code>responseCode</code> <code>9051</code>, and the authorization is held for risk review rather than rejected. If a risk policy blocks the transaction, the endpoint returns a <code>422</code> response with <code>responseCode</code> <code>9005</code>, a terminal rejection.</p>
     * <p>For check payouts, Payabli validates the remit (mailing) address at authorization. If the address fails deliverability validation, the endpoint returns a <code>422</code> response and doesn't charge the paypoint. Correct the address and re-authorize. Other payout rails (ACH, RTP, virtual card, wire, and managed payables) aren't affected.</p>
     */
    public CompletableFuture<AuthCapturePayoutResponse> authorizeOut(RequestOutAuthorize request) {
        return this.rawClient.authorizeOut(request).thenApply(response -> response.body());
    }

    /**
     * Authorizes a transaction for payout.
     * <p>If you don't pass <code>autoCapture</code> with a value of <code>true</code>, authorized transactions aren't flagged for settlement until captured. Use the <code>referenceId</code> returned in the response to capture the transaction.</p>
     * <p>When <code>autoCapture</code> is <code>true</code>, Payabli captures the transaction asynchronously after authorization. The response confirms only that the transaction was authorized; it doesn't confirm that capture succeeded. To confirm capture, listen for the <a href="/developers/webhooks/payout-transaction-approved-captured"><code>payout_transaction_approvedcaptured</code></a> webhook event.</p>
     * <p>If a velocity fraud alert is triggered, the endpoint returns a <code>202</code> response with <code>responseCode</code> <code>9051</code>, and the authorization is held for risk review rather than rejected. If a risk policy blocks the transaction, the endpoint returns a <code>422</code> response with <code>responseCode</code> <code>9005</code>, a terminal rejection.</p>
     * <p>For check payouts, Payabli validates the remit (mailing) address at authorization. If the address fails deliverability validation, the endpoint returns a <code>422</code> response and doesn't charge the paypoint. Correct the address and re-authorize. Other payout rails (ACH, RTP, virtual card, wire, and managed payables) aren't affected.</p>
     */
    public CompletableFuture<AuthCapturePayoutResponse> authorizeOut(
            RequestOutAuthorize request, RequestOptions requestOptions) {
        return this.rawClient.authorizeOut(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Cancels an array of payout transactions.
     */
    public CompletableFuture<CaptureAllOutResponse> cancelAllOut(List<String> request) {
        return this.rawClient.cancelAllOut(request).thenApply(response -> response.body());
    }

    /**
     * Cancels an array of payout transactions.
     */
    public CompletableFuture<CaptureAllOutResponse> cancelAllOut(List<String> request, RequestOptions requestOptions) {
        return this.rawClient.cancelAllOut(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Cancel a payout transaction by ID.
     */
    public CompletableFuture<PayabliApiResponse0000> cancelOutGet(String referenceId) {
        return this.rawClient.cancelOutGet(referenceId).thenApply(response -> response.body());
    }

    /**
     * Cancel a payout transaction by ID.
     */
    public CompletableFuture<PayabliApiResponse0000> cancelOutGet(String referenceId, RequestOptions requestOptions) {
        return this.rawClient.cancelOutGet(referenceId, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Cancel a payout transaction by ID.
     */
    public CompletableFuture<PayabliApiResponse0000> cancelOutDelete(String referenceId) {
        return this.rawClient.cancelOutDelete(referenceId).thenApply(response -> response.body());
    }

    /**
     * Cancel a payout transaction by ID.
     */
    public CompletableFuture<PayabliApiResponse0000> cancelOutDelete(
            String referenceId, RequestOptions requestOptions) {
        return this.rawClient.cancelOutDelete(referenceId, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Captures an array of authorized payout transactions for settlement. The maximum number of transactions that can be captured in a single request is 500.
     */
    public CompletableFuture<CaptureAllOutResponse> captureAllOut(List<String> body) {
        return this.rawClient.captureAllOut(body).thenApply(response -> response.body());
    }

    /**
     * Captures an array of authorized payout transactions for settlement. The maximum number of transactions that can be captured in a single request is 500.
     */
    public CompletableFuture<CaptureAllOutResponse> captureAllOut(List<String> body, RequestOptions requestOptions) {
        return this.rawClient.captureAllOut(body, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Captures an array of authorized payout transactions for settlement. The maximum number of transactions that can be captured in a single request is 500.
     */
    public CompletableFuture<CaptureAllOutResponse> captureAllOut(CaptureAllOutRequest request) {
        return this.rawClient.captureAllOut(request).thenApply(response -> response.body());
    }

    /**
     * Captures an array of authorized payout transactions for settlement. The maximum number of transactions that can be captured in a single request is 500.
     */
    public CompletableFuture<CaptureAllOutResponse> captureAllOut(
            CaptureAllOutRequest request, RequestOptions requestOptions) {
        return this.rawClient.captureAllOut(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Captures a single authorized payout transaction by ID. If the transaction was authorized with <code>autoCapture</code> set to <code>true</code>, you don't need to call this endpoint to capture the transaction for processing.
     * <p>If a velocity fraud alert is triggered, the endpoint returns a <code>202</code> response with <code>responseCode</code> <code>9051</code>, and the capture is held for risk review rather than rejected. If a risk policy blocks the transaction, the endpoint returns a <code>422</code> response with <code>responseCode</code> <code>9005</code>, a terminal rejection.</p>
     */
    public CompletableFuture<AuthCapturePayoutResponse> captureOut(String referenceId) {
        return this.rawClient.captureOut(referenceId).thenApply(response -> response.body());
    }

    /**
     * Captures a single authorized payout transaction by ID. If the transaction was authorized with <code>autoCapture</code> set to <code>true</code>, you don't need to call this endpoint to capture the transaction for processing.
     * <p>If a velocity fraud alert is triggered, the endpoint returns a <code>202</code> response with <code>responseCode</code> <code>9051</code>, and the capture is held for risk review rather than rejected. If a risk policy blocks the transaction, the endpoint returns a <code>422</code> response with <code>responseCode</code> <code>9005</code>, a terminal rejection.</p>
     */
    public CompletableFuture<AuthCapturePayoutResponse> captureOut(String referenceId, RequestOptions requestOptions) {
        return this.rawClient.captureOut(referenceId, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Captures a single authorized payout transaction by ID. If the transaction was authorized with <code>autoCapture</code> set to <code>true</code>, you don't need to call this endpoint to capture the transaction for processing.
     * <p>If a velocity fraud alert is triggered, the endpoint returns a <code>202</code> response with <code>responseCode</code> <code>9051</code>, and the capture is held for risk review rather than rejected. If a risk policy blocks the transaction, the endpoint returns a <code>422</code> response with <code>responseCode</code> <code>9005</code>, a terminal rejection.</p>
     */
    public CompletableFuture<AuthCapturePayoutResponse> captureOut(String referenceId, CaptureOutRequest request) {
        return this.rawClient.captureOut(referenceId, request).thenApply(response -> response.body());
    }

    /**
     * Captures a single authorized payout transaction by ID. If the transaction was authorized with <code>autoCapture</code> set to <code>true</code>, you don't need to call this endpoint to capture the transaction for processing.
     * <p>If a velocity fraud alert is triggered, the endpoint returns a <code>202</code> response with <code>responseCode</code> <code>9051</code>, and the capture is held for risk review rather than rejected. If a risk policy blocks the transaction, the endpoint returns a <code>422</code> response with <code>responseCode</code> <code>9005</code>, a terminal rejection.</p>
     */
    public CompletableFuture<AuthCapturePayoutResponse> captureOut(
            String referenceId, CaptureOutRequest request, RequestOptions requestOptions) {
        return this.rawClient.captureOut(referenceId, request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Authorizes a payout and captures it in the same request, returning the capture result. Use this endpoint when you need the capture outcome synchronously: it does the same work as calling <code>POST /MoneyOut/authorize</code> followed by <code>GET /MoneyOut/capture/{referenceId}</code>, in a single call.
     * <p>Risk and fraud review runs at both the authorize and capture stages, exactly as it does for the two-call flow.</p>
     * <p>Payabli ignores the <code>autoCapture</code> field in the request body, since this endpoint always captures inline.</p>
     * <p>If the capture fails, the payout stays authorized. Retry the capture with <code>GET /MoneyOut/capture/{referenceId}</code> using the <code>referenceId</code> from the error response rather than resubmitting, which would create a second payout. See the <a href="/guides/pay-out-developer-payouts-manage#authorize-and-capture-in-one-call">Manage payouts guide</a> for details.</p>
     */
    public CompletableFuture<AuthCapturePayoutResponse> payout(AuthorizePayoutBody body) {
        return this.rawClient.payout(body).thenApply(response -> response.body());
    }

    /**
     * Authorizes a payout and captures it in the same request, returning the capture result. Use this endpoint when you need the capture outcome synchronously: it does the same work as calling <code>POST /MoneyOut/authorize</code> followed by <code>GET /MoneyOut/capture/{referenceId}</code>, in a single call.
     * <p>Risk and fraud review runs at both the authorize and capture stages, exactly as it does for the two-call flow.</p>
     * <p>Payabli ignores the <code>autoCapture</code> field in the request body, since this endpoint always captures inline.</p>
     * <p>If the capture fails, the payout stays authorized. Retry the capture with <code>GET /MoneyOut/capture/{referenceId}</code> using the <code>referenceId</code> from the error response rather than resubmitting, which would create a second payout. See the <a href="/guides/pay-out-developer-payouts-manage#authorize-and-capture-in-one-call">Manage payouts guide</a> for details.</p>
     */
    public CompletableFuture<AuthCapturePayoutResponse> payout(
            AuthorizePayoutBody body, RequestOptions requestOptions) {
        return this.rawClient.payout(body, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Authorizes a payout and captures it in the same request, returning the capture result. Use this endpoint when you need the capture outcome synchronously: it does the same work as calling <code>POST /MoneyOut/authorize</code> followed by <code>GET /MoneyOut/capture/{referenceId}</code>, in a single call.
     * <p>Risk and fraud review runs at both the authorize and capture stages, exactly as it does for the two-call flow.</p>
     * <p>Payabli ignores the <code>autoCapture</code> field in the request body, since this endpoint always captures inline.</p>
     * <p>If the capture fails, the payout stays authorized. Retry the capture with <code>GET /MoneyOut/capture/{referenceId}</code> using the <code>referenceId</code> from the error response rather than resubmitting, which would create a second payout. See the <a href="/guides/pay-out-developer-payouts-manage#authorize-and-capture-in-one-call">Manage payouts guide</a> for details.</p>
     */
    public CompletableFuture<AuthCapturePayoutResponse> payout(PayoutRequest request) {
        return this.rawClient.payout(request).thenApply(response -> response.body());
    }

    /**
     * Authorizes a payout and captures it in the same request, returning the capture result. Use this endpoint when you need the capture outcome synchronously: it does the same work as calling <code>POST /MoneyOut/authorize</code> followed by <code>GET /MoneyOut/capture/{referenceId}</code>, in a single call.
     * <p>Risk and fraud review runs at both the authorize and capture stages, exactly as it does for the two-call flow.</p>
     * <p>Payabli ignores the <code>autoCapture</code> field in the request body, since this endpoint always captures inline.</p>
     * <p>If the capture fails, the payout stays authorized. Retry the capture with <code>GET /MoneyOut/capture/{referenceId}</code> using the <code>referenceId</code> from the error response rather than resubmitting, which would create a second payout. See the <a href="/guides/pay-out-developer-payouts-manage#authorize-and-capture-in-one-call">Manage payouts guide</a> for details.</p>
     */
    public CompletableFuture<AuthCapturePayoutResponse> payout(PayoutRequest request, RequestOptions requestOptions) {
        return this.rawClient.payout(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Returns details for a processed money out transaction.
     */
    public CompletableFuture<BillDetailResponse> payoutDetails(String transId) {
        return this.rawClient.payoutDetails(transId).thenApply(response -> response.body());
    }

    /**
     * Returns details for a processed money out transaction.
     */
    public CompletableFuture<BillDetailResponse> payoutDetails(String transId, RequestOptions requestOptions) {
        return this.rawClient.payoutDetails(transId, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Retrieves vCard details for a single card in an entrypoint.
     */
    public CompletableFuture<VCardGetResponse> vCardGet(String cardToken) {
        return this.rawClient.vCardGet(cardToken).thenApply(response -> response.body());
    }

    /**
     * Retrieves vCard details for a single card in an entrypoint.
     */
    public CompletableFuture<VCardGetResponse> vCardGet(String cardToken, RequestOptions requestOptions) {
        return this.rawClient.vCardGet(cardToken, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Renews an expired or expiring virtual card by extending its expiration date to a future month.
     * <p>The card must be a virtual card that hasn't been fully used. The new expiration date must be in <code>MM-YYYY</code> or <code>MM/YYYY</code> format and no more than 2 years and 363 days in the future. The card expires on the last day of the month you specify.</p>
     * <p>On success, <code>referenceId</code> holds the renewed card's token (the card processor may issue a new token). The response reuses the standard payout result object, so the payment-transaction fields it carries don't apply to renewal and always return <code>null</code>.</p>
     */
    public CompletableFuture<RenewVCardResponse> renewVCard(String cardToken, RenewVCardRequest request) {
        return this.rawClient.renewVCard(cardToken, request).thenApply(response -> response.body());
    }

    /**
     * Renews an expired or expiring virtual card by extending its expiration date to a future month.
     * <p>The card must be a virtual card that hasn't been fully used. The new expiration date must be in <code>MM-YYYY</code> or <code>MM/YYYY</code> format and no more than 2 years and 363 days in the future. The card expires on the last day of the month you specify.</p>
     * <p>On success, <code>referenceId</code> holds the renewed card's token (the card processor may issue a new token). The response reuses the standard payout result object, so the payment-transaction fields it carries don't apply to renewal and always return <code>null</code>.</p>
     */
    public CompletableFuture<RenewVCardResponse> renewVCard(
            String cardToken, RenewVCardRequest request, RequestOptions requestOptions) {
        return this.rawClient.renewVCard(cardToken, request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Sends a virtual card link via email to the vendor associated with the <code>transId</code>.
     */
    public CompletableFuture<OperationResult> sendVCardLink(SendVCardLinkRequest request) {
        return this.rawClient.sendVCardLink(request).thenApply(response -> response.body());
    }

    /**
     * Sends a virtual card link via email to the vendor associated with the <code>transId</code>.
     */
    public CompletableFuture<OperationResult> sendVCardLink(
            SendVCardLinkRequest request, RequestOptions requestOptions) {
        return this.rawClient.sendVCardLink(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Retrieve the image of a check associated with a processed transaction.
     * The check image is returned in the response body as a base64-encoded string.
     * The check image is only available for payouts that have been processed.
     */
    public CompletableFuture<String> getCheckImage(String assetName) {
        return this.rawClient.getCheckImage(assetName).thenApply(response -> response.body());
    }

    /**
     * Retrieve the image of a check associated with a processed transaction.
     * The check image is returned in the response body as a base64-encoded string.
     * The check image is only available for payouts that have been processed.
     */
    public CompletableFuture<String> getCheckImage(String assetName, RequestOptions requestOptions) {
        return this.rawClient.getCheckImage(assetName, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Updates the status of a processed check payment transaction. This endpoint handles the status transition, updates related bills, creates audit events, and triggers notifications.
     * <p>The transaction must meet all of the following criteria:</p>
     * <ul>
     * <li><strong>Status</strong>: Must be in Processing or Processed status.</li>
     * <li><strong>Payment method</strong>: Must be a check payment method.</li>
     * </ul>
     * <h3>Allowed status values</h3>
     * <p>| Value | Status | Description |
     * |-------|--------|-------------|
     * | <code>0</code> | Cancelled/Voided | Cancels the check transaction. Reverts associated bills to their previous state (Approved or Active), creates &quot;Cancelled&quot; events, and sends a <code>payout_transaction_voidedcancelled</code> notification if the notification is enabled. |
     * | <code>5</code> | Paid | Marks the check transaction as paid. Updates associated bills to &quot;Paid&quot; status, creates &quot;Paid&quot; events, and sends a <code>payout_transaction_paid</code> notification if the notification is enabled. |</p>
     */
    public CompletableFuture<PayabliApiResponse00Responsedatanonobject> updateCheckPaymentStatus(
            String transId, AllowedCheckPaymentStatus checkPaymentStatus) {
        return this.rawClient
                .updateCheckPaymentStatus(transId, checkPaymentStatus)
                .thenApply(response -> response.body());
    }

    /**
     * Updates the status of a processed check payment transaction. This endpoint handles the status transition, updates related bills, creates audit events, and triggers notifications.
     * <p>The transaction must meet all of the following criteria:</p>
     * <ul>
     * <li><strong>Status</strong>: Must be in Processing or Processed status.</li>
     * <li><strong>Payment method</strong>: Must be a check payment method.</li>
     * </ul>
     * <h3>Allowed status values</h3>
     * <p>| Value | Status | Description |
     * |-------|--------|-------------|
     * | <code>0</code> | Cancelled/Voided | Cancels the check transaction. Reverts associated bills to their previous state (Approved or Active), creates &quot;Cancelled&quot; events, and sends a <code>payout_transaction_voidedcancelled</code> notification if the notification is enabled. |
     * | <code>5</code> | Paid | Marks the check transaction as paid. Updates associated bills to &quot;Paid&quot; status, creates &quot;Paid&quot; events, and sends a <code>payout_transaction_paid</code> notification if the notification is enabled. |</p>
     */
    public CompletableFuture<PayabliApiResponse00Responsedatanonobject> updateCheckPaymentStatus(
            String transId, AllowedCheckPaymentStatus checkPaymentStatus, RequestOptions requestOptions) {
        return this.rawClient
                .updateCheckPaymentStatus(transId, checkPaymentStatus, requestOptions)
                .thenApply(response -> response.body());
    }

    /**
     * Reissues a payout transaction with a new payment method. This creates a new transaction linked to the original and marks the original transaction as reissued.
     * <p>The original transaction must be in <strong>Processing</strong> or <strong>Processed</strong> status. The payment method in the request body is used directly. The endpoint doesn't fall back to vendor-managed payment methods.</p>
     * <p>The new transaction goes through the standard authorize-and-capture flow automatically. Both the original and new transactions are linked through their event histories for audit purposes.</p>
     */
    public CompletableFuture<ReissuePayoutResponse> reissueOut(ReissueOutRequest request) {
        return this.rawClient.reissueOut(request).thenApply(response -> response.body());
    }

    /**
     * Reissues a payout transaction with a new payment method. This creates a new transaction linked to the original and marks the original transaction as reissued.
     * <p>The original transaction must be in <strong>Processing</strong> or <strong>Processed</strong> status. The payment method in the request body is used directly. The endpoint doesn't fall back to vendor-managed payment methods.</p>
     * <p>The new transaction goes through the standard authorize-and-capture flow automatically. Both the original and new transactions are linked through their event histories for audit purposes.</p>
     */
    public CompletableFuture<ReissuePayoutResponse> reissueOut(
            ReissueOutRequest request, RequestOptions requestOptions) {
        return this.rawClient.reissueOut(request, requestOptions).thenApply(response -> response.body());
    }
}
