/**
 * This file was auto-generated by Fern from our API Definition.
 */
package io.github.payabli.api.resources.moneyout;

import io.github.payabli.api.core.ClientOptions;
import io.github.payabli.api.core.RequestOptions;
import io.github.payabli.api.resources.moneyout.requests.CaptureAllOutRequest;
import io.github.payabli.api.resources.moneyout.requests.CaptureOutRequest;
import io.github.payabli.api.resources.moneyout.requests.ReissueOutRequest;
import io.github.payabli.api.resources.moneyout.requests.RenewVCardRequest;
import io.github.payabli.api.resources.moneyout.requests.RequestOutAuthorize;
import io.github.payabli.api.resources.moneyout.requests.SendVCardLinkRequest;
import io.github.payabli.api.types.AllowedCheckPaymentStatus;
import io.github.payabli.api.types.AuthCapturePayoutResponse;
import io.github.payabli.api.types.BillDetailResponse;
import io.github.payabli.api.types.CaptureAllOutResponse;
import io.github.payabli.api.types.OperationResult;
import io.github.payabli.api.types.PayabliApiResponse0000;
import io.github.payabli.api.types.PayabliApiResponse00Responsedatanonobject;
import io.github.payabli.api.types.ReissuePayoutResponse;
import io.github.payabli.api.types.RenewVCardResponse;
import io.github.payabli.api.types.VCardGetResponse;
import java.util.List;

public class MoneyOutClient {
    protected final ClientOptions clientOptions;

    private final RawMoneyOutClient rawClient;

    public MoneyOutClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new RawMoneyOutClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public RawMoneyOutClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Authorizes a transaction for payout.
     * <p>If you don't pass <code>autoCapture</code> with a value of <code>true</code>, authorized transactions aren't flagged for settlement until captured. Use the <code>referenceId</code> returned in the response to capture the transaction.</p>
     * <p>When <code>autoCapture</code> is <code>true</code>, Payabli captures the transaction asynchronously after authorization. The response confirms only that the transaction was authorized; it doesn't confirm that capture succeeded. To confirm capture, listen for the <a href="/developers/api-reference/webhooks-overview/payout-transaction-approved-captured"><code>payout_transaction_approvedcaptured</code></a> webhook event.</p>
     * <p>If a velocity fraud alert is triggered, the endpoint returns a <code>202</code> response with <code>responseCode</code> <code>9051</code>, and the authorization is held for risk review rather than rejected. If a risk policy blocks the transaction, the endpoint returns a <code>422</code> response with <code>responseCode</code> <code>9005</code>, a terminal rejection.</p>
     * <p>For check payouts, Payabli validates the remit (mailing) address at authorization. If the address fails deliverability validation, the endpoint returns a <code>422</code> response and doesn't charge the paypoint. Correct the address and re-authorize. Other payout rails (ACH, RTP, virtual card, wire, and managed payables) aren't affected.</p>
     */
    public AuthCapturePayoutResponse authorizeOut(RequestOutAuthorize request) {
        return this.rawClient.authorizeOut(request).body();
    }

    /**
     * Authorizes a transaction for payout.
     * <p>If you don't pass <code>autoCapture</code> with a value of <code>true</code>, authorized transactions aren't flagged for settlement until captured. Use the <code>referenceId</code> returned in the response to capture the transaction.</p>
     * <p>When <code>autoCapture</code> is <code>true</code>, Payabli captures the transaction asynchronously after authorization. The response confirms only that the transaction was authorized; it doesn't confirm that capture succeeded. To confirm capture, listen for the <a href="/developers/api-reference/webhooks-overview/payout-transaction-approved-captured"><code>payout_transaction_approvedcaptured</code></a> webhook event.</p>
     * <p>If a velocity fraud alert is triggered, the endpoint returns a <code>202</code> response with <code>responseCode</code> <code>9051</code>, and the authorization is held for risk review rather than rejected. If a risk policy blocks the transaction, the endpoint returns a <code>422</code> response with <code>responseCode</code> <code>9005</code>, a terminal rejection.</p>
     * <p>For check payouts, Payabli validates the remit (mailing) address at authorization. If the address fails deliverability validation, the endpoint returns a <code>422</code> response and doesn't charge the paypoint. Correct the address and re-authorize. Other payout rails (ACH, RTP, virtual card, wire, and managed payables) aren't affected.</p>
     */
    public AuthCapturePayoutResponse authorizeOut(RequestOutAuthorize request, RequestOptions requestOptions) {
        return this.rawClient.authorizeOut(request, requestOptions).body();
    }

    /**
     * Cancels an array of payout transactions.
     */
    public CaptureAllOutResponse cancelAllOut(List<String> request) {
        return this.rawClient.cancelAllOut(request).body();
    }

    /**
     * Cancels an array of payout transactions.
     */
    public CaptureAllOutResponse cancelAllOut(List<String> request, RequestOptions requestOptions) {
        return this.rawClient.cancelAllOut(request, requestOptions).body();
    }

    /**
     * Cancel a payout transaction by ID.
     */
    public PayabliApiResponse0000 cancelOutGet(String referenceId) {
        return this.rawClient.cancelOutGet(referenceId).body();
    }

    /**
     * Cancel a payout transaction by ID.
     */
    public PayabliApiResponse0000 cancelOutGet(String referenceId, RequestOptions requestOptions) {
        return this.rawClient.cancelOutGet(referenceId, requestOptions).body();
    }

    /**
     * Cancel a payout transaction by ID.
     */
    public PayabliApiResponse0000 cancelOutDelete(String referenceId) {
        return this.rawClient.cancelOutDelete(referenceId).body();
    }

    /**
     * Cancel a payout transaction by ID.
     */
    public PayabliApiResponse0000 cancelOutDelete(String referenceId, RequestOptions requestOptions) {
        return this.rawClient.cancelOutDelete(referenceId, requestOptions).body();
    }

    /**
     * Captures an array of authorized payout transactions for settlement. The maximum number of transactions that can be captured in a single request is 500.
     */
    public CaptureAllOutResponse captureAllOut(List<String> body) {
        return this.rawClient.captureAllOut(body).body();
    }

    /**
     * Captures an array of authorized payout transactions for settlement. The maximum number of transactions that can be captured in a single request is 500.
     */
    public CaptureAllOutResponse captureAllOut(List<String> body, RequestOptions requestOptions) {
        return this.rawClient.captureAllOut(body, requestOptions).body();
    }

    /**
     * Captures an array of authorized payout transactions for settlement. The maximum number of transactions that can be captured in a single request is 500.
     */
    public CaptureAllOutResponse captureAllOut(CaptureAllOutRequest request) {
        return this.rawClient.captureAllOut(request).body();
    }

    /**
     * Captures an array of authorized payout transactions for settlement. The maximum number of transactions that can be captured in a single request is 500.
     */
    public CaptureAllOutResponse captureAllOut(CaptureAllOutRequest request, RequestOptions requestOptions) {
        return this.rawClient.captureAllOut(request, requestOptions).body();
    }

    /**
     * Captures a single authorized payout transaction by ID. If the transaction was authorized with <code>autoCapture</code> set to <code>true</code>, you don't need to call this endpoint to capture the transaction for processing.
     * <p>If a velocity fraud alert is triggered, the endpoint returns a <code>202</code> response with <code>responseCode</code> <code>9051</code>, and the capture is held for risk review rather than rejected. If a risk policy blocks the transaction, the endpoint returns a <code>422</code> response with <code>responseCode</code> <code>9005</code>, a terminal rejection.</p>
     */
    public AuthCapturePayoutResponse captureOut(String referenceId) {
        return this.rawClient.captureOut(referenceId).body();
    }

    /**
     * Captures a single authorized payout transaction by ID. If the transaction was authorized with <code>autoCapture</code> set to <code>true</code>, you don't need to call this endpoint to capture the transaction for processing.
     * <p>If a velocity fraud alert is triggered, the endpoint returns a <code>202</code> response with <code>responseCode</code> <code>9051</code>, and the capture is held for risk review rather than rejected. If a risk policy blocks the transaction, the endpoint returns a <code>422</code> response with <code>responseCode</code> <code>9005</code>, a terminal rejection.</p>
     */
    public AuthCapturePayoutResponse captureOut(String referenceId, RequestOptions requestOptions) {
        return this.rawClient.captureOut(referenceId, requestOptions).body();
    }

    /**
     * Captures a single authorized payout transaction by ID. If the transaction was authorized with <code>autoCapture</code> set to <code>true</code>, you don't need to call this endpoint to capture the transaction for processing.
     * <p>If a velocity fraud alert is triggered, the endpoint returns a <code>202</code> response with <code>responseCode</code> <code>9051</code>, and the capture is held for risk review rather than rejected. If a risk policy blocks the transaction, the endpoint returns a <code>422</code> response with <code>responseCode</code> <code>9005</code>, a terminal rejection.</p>
     */
    public AuthCapturePayoutResponse captureOut(String referenceId, CaptureOutRequest request) {
        return this.rawClient.captureOut(referenceId, request).body();
    }

    /**
     * Captures a single authorized payout transaction by ID. If the transaction was authorized with <code>autoCapture</code> set to <code>true</code>, you don't need to call this endpoint to capture the transaction for processing.
     * <p>If a velocity fraud alert is triggered, the endpoint returns a <code>202</code> response with <code>responseCode</code> <code>9051</code>, and the capture is held for risk review rather than rejected. If a risk policy blocks the transaction, the endpoint returns a <code>422</code> response with <code>responseCode</code> <code>9005</code>, a terminal rejection.</p>
     */
    public AuthCapturePayoutResponse captureOut(
            String referenceId, CaptureOutRequest request, RequestOptions requestOptions) {
        return this.rawClient.captureOut(referenceId, request, requestOptions).body();
    }

    /**
     * Returns details for a processed money out transaction.
     */
    public BillDetailResponse payoutDetails(String transId) {
        return this.rawClient.payoutDetails(transId).body();
    }

    /**
     * Returns details for a processed money out transaction.
     */
    public BillDetailResponse payoutDetails(String transId, RequestOptions requestOptions) {
        return this.rawClient.payoutDetails(transId, requestOptions).body();
    }

    /**
     * Retrieves vCard details for a single card in an entrypoint.
     */
    public VCardGetResponse vCardGet(String cardToken) {
        return this.rawClient.vCardGet(cardToken).body();
    }

    /**
     * Retrieves vCard details for a single card in an entrypoint.
     */
    public VCardGetResponse vCardGet(String cardToken, RequestOptions requestOptions) {
        return this.rawClient.vCardGet(cardToken, requestOptions).body();
    }

    /**
     * Renews an expired or expiring virtual card by extending its expiration date to a future month.
     * <p>The card must be a virtual card that hasn't been fully used. The new expiration date must be in <code>MM-YYYY</code> or <code>MM/YYYY</code> format and no more than 2 years and 363 days in the future. The card expires on the last day of the month you specify.</p>
     * <p>On success, <code>referenceId</code> holds the renewed card's token (the card processor may issue a new token). The response reuses the standard payout result object, so the payment-transaction fields it carries don't apply to renewal and always return <code>null</code>.</p>
     */
    public RenewVCardResponse renewVCard(String cardToken, RenewVCardRequest request) {
        return this.rawClient.renewVCard(cardToken, request).body();
    }

    /**
     * Renews an expired or expiring virtual card by extending its expiration date to a future month.
     * <p>The card must be a virtual card that hasn't been fully used. The new expiration date must be in <code>MM-YYYY</code> or <code>MM/YYYY</code> format and no more than 2 years and 363 days in the future. The card expires on the last day of the month you specify.</p>
     * <p>On success, <code>referenceId</code> holds the renewed card's token (the card processor may issue a new token). The response reuses the standard payout result object, so the payment-transaction fields it carries don't apply to renewal and always return <code>null</code>.</p>
     */
    public RenewVCardResponse renewVCard(String cardToken, RenewVCardRequest request, RequestOptions requestOptions) {
        return this.rawClient.renewVCard(cardToken, request, requestOptions).body();
    }

    /**
     * Sends a virtual card link via email to the vendor associated with the <code>transId</code>.
     */
    public OperationResult sendVCardLink(SendVCardLinkRequest request) {
        return this.rawClient.sendVCardLink(request).body();
    }

    /**
     * Sends a virtual card link via email to the vendor associated with the <code>transId</code>.
     */
    public OperationResult sendVCardLink(SendVCardLinkRequest request, RequestOptions requestOptions) {
        return this.rawClient.sendVCardLink(request, requestOptions).body();
    }

    /**
     * Retrieve the image of a check associated with a processed transaction.
     * The check image is returned in the response body as a base64-encoded string.
     * The check image is only available for payouts that have been processed.
     */
    public String getCheckImage(String assetName) {
        return this.rawClient.getCheckImage(assetName).body();
    }

    /**
     * Retrieve the image of a check associated with a processed transaction.
     * The check image is returned in the response body as a base64-encoded string.
     * The check image is only available for payouts that have been processed.
     */
    public String getCheckImage(String assetName, RequestOptions requestOptions) {
        return this.rawClient.getCheckImage(assetName, requestOptions).body();
    }

    /**
     * Updates the status of a processed check payment transaction. This endpoint handles the status transition, updates related bills, creates audit events, and triggers notifications.
     * <p>The transaction must meet all of the following criteria:</p>
     * <ul>
     * <li><strong>Status</strong>: Must be in Processing or Processed status.</li>
     * <li><strong>Payment method</strong>: Must be a check payment method.</li>
     * </ul>
     * <h3>Allowed status values</h3>
     * <p>| Value | Status | Description |
     * |-------|--------|-------------|
     * | <code>0</code> | Cancelled/Voided | Cancels the check transaction. Reverts associated bills to their previous state (Approved or Active), creates &quot;Cancelled&quot; events, and sends a <code>payout_transaction_voidedcancelled</code> notification if the notification is enabled. |
     * | <code>5</code> | Paid | Marks the check transaction as paid. Updates associated bills to &quot;Paid&quot; status, creates &quot;Paid&quot; events, and sends a <code>payout_transaction_paid</code> notification if the notification is enabled. |</p>
     */
    public PayabliApiResponse00Responsedatanonobject updateCheckPaymentStatus(
            String transId, AllowedCheckPaymentStatus checkPaymentStatus) {
        return this.rawClient
                .updateCheckPaymentStatus(transId, checkPaymentStatus)
                .body();
    }

    /**
     * Updates the status of a processed check payment transaction. This endpoint handles the status transition, updates related bills, creates audit events, and triggers notifications.
     * <p>The transaction must meet all of the following criteria:</p>
     * <ul>
     * <li><strong>Status</strong>: Must be in Processing or Processed status.</li>
     * <li><strong>Payment method</strong>: Must be a check payment method.</li>
     * </ul>
     * <h3>Allowed status values</h3>
     * <p>| Value | Status | Description |
     * |-------|--------|-------------|
     * | <code>0</code> | Cancelled/Voided | Cancels the check transaction. Reverts associated bills to their previous state (Approved or Active), creates &quot;Cancelled&quot; events, and sends a <code>payout_transaction_voidedcancelled</code> notification if the notification is enabled. |
     * | <code>5</code> | Paid | Marks the check transaction as paid. Updates associated bills to &quot;Paid&quot; status, creates &quot;Paid&quot; events, and sends a <code>payout_transaction_paid</code> notification if the notification is enabled. |</p>
     */
    public PayabliApiResponse00Responsedatanonobject updateCheckPaymentStatus(
            String transId, AllowedCheckPaymentStatus checkPaymentStatus, RequestOptions requestOptions) {
        return this.rawClient
                .updateCheckPaymentStatus(transId, checkPaymentStatus, requestOptions)
                .body();
    }

    /**
     * Reissues a payout transaction with a new payment method. This creates a new transaction linked to the original and marks the original transaction as reissued.
     * <p>The original transaction must be in <strong>Processing</strong> or <strong>Processed</strong> status. The payment method in the request body is used directly. The endpoint doesn't fall back to vendor-managed payment methods.</p>
     * <p>The new transaction goes through the standard authorize-and-capture flow automatically. Both the original and new transactions are linked through their event histories for audit purposes.</p>
     */
    public ReissuePayoutResponse reissueOut(ReissueOutRequest request) {
        return this.rawClient.reissueOut(request).body();
    }

    /**
     * Reissues a payout transaction with a new payment method. This creates a new transaction linked to the original and marks the original transaction as reissued.
     * <p>The original transaction must be in <strong>Processing</strong> or <strong>Processed</strong> status. The payment method in the request body is used directly. The endpoint doesn't fall back to vendor-managed payment methods.</p>
     * <p>The new transaction goes through the standard authorize-and-capture flow automatically. Both the original and new transactions are linked through their event histories for audit purposes.</p>
     */
    public ReissuePayoutResponse reissueOut(ReissueOutRequest request, RequestOptions requestOptions) {
        return this.rawClient.reissueOut(request, requestOptions).body();
    }
}
