/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.payabli.api.resources.checkcapture;

import com.payabli.api.core.ClientOptions;
import com.payabli.api.core.RequestOptions;
import com.payabli.api.resources.checkcapture.requests.CheckCaptureRequestBody;
import com.payabli.api.resources.checkcapture.types.CheckCaptureResponse;
import java.util.concurrent.CompletableFuture;

public class AsyncCheckCaptureClient {
    protected final ClientOptions clientOptions;

    private final AsyncRawCheckCaptureClient rawClient;

    public AsyncCheckCaptureClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new AsyncRawCheckCaptureClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public AsyncRawCheckCaptureClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Captures a check for Remote Deposit Capture (RDC) using the provided check images and details. This endpoint handles the OCR extraction of check data including MICR, routing number, account number, and amount. See the <a href="/developers/developer-guides/pay-in-rdc">RDC guide</a> for more details.
     */
    public CompletableFuture<CheckCaptureResponse> checkProcessing(CheckCaptureRequestBody request) {
        return this.rawClient.checkProcessing(request).thenApply(response -> response.body());
    }

    /**
     * Captures a check for Remote Deposit Capture (RDC) using the provided check images and details. This endpoint handles the OCR extraction of check data including MICR, routing number, account number, and amount. See the <a href="/developers/developer-guides/pay-in-rdc">RDC guide</a> for more details.
     */
    public CompletableFuture<CheckCaptureResponse> checkProcessing(
            CheckCaptureRequestBody request, RequestOptions requestOptions) {
        return this.rawClient.checkProcessing(request, requestOptions).thenApply(response -> response.body());
    }
}
