/**
 * This file was auto-generated by Fern from our API Definition.
 */
package io.github.payabli.api.resources.checkcapture;

import io.github.payabli.api.core.ClientOptions;
import io.github.payabli.api.core.RequestOptions;
import io.github.payabli.api.resources.checkcapture.requests.CheckCaptureRequestBody;
import io.github.payabli.api.resources.checkcapture.types.CheckCaptureResponse;

public class CheckCaptureClient {
    protected final ClientOptions clientOptions;

    private final RawCheckCaptureClient rawClient;

    public CheckCaptureClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new RawCheckCaptureClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public RawCheckCaptureClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Captures a check for Remote Deposit Capture (RDC) using the provided check images and details. This endpoint handles the OCR extraction of check data including MICR, routing number, account number, and amount. See the <a href="/developers/developer-guides/pay-in-rdc">RDC guide</a> for more details.
     */
    public CheckCaptureResponse checkProcessing(CheckCaptureRequestBody request) {
        return this.rawClient.checkProcessing(request).body();
    }

    /**
     * Captures a check for Remote Deposit Capture (RDC) using the provided check images and details. This endpoint handles the OCR extraction of check data including MICR, routing number, account number, and amount. See the <a href="/developers/developer-guides/pay-in-rdc">RDC guide</a> for more details.
     */
    public CheckCaptureResponse checkProcessing(CheckCaptureRequestBody request, RequestOptions requestOptions) {
        return this.rawClient.checkProcessing(request, requestOptions).body();
    }
}
