/**
 * This file was auto-generated by Fern from our API Definition.
 */
package io.github.payabli.api.resources.payoutsubscription;

import io.github.payabli.api.core.ClientOptions;
import io.github.payabli.api.core.RequestOptions;
import io.github.payabli.api.resources.payoutsubscription.requests.RequestPayoutSchedule;
import io.github.payabli.api.resources.payoutsubscription.types.AddPayoutSubscriptionResponse;
import io.github.payabli.api.resources.payoutsubscription.types.DeletePayoutSubscriptionResponse;
import io.github.payabli.api.resources.payoutsubscription.types.GetPayoutSubscriptionResponse;
import io.github.payabli.api.resources.payoutsubscription.types.PayoutSubscriptionRequestBody;
import io.github.payabli.api.resources.payoutsubscription.types.UpdatePayoutSubscriptionBody;
import io.github.payabli.api.resources.payoutsubscription.types.UpdatePayoutSubscriptionResponse;
import java.util.concurrent.CompletableFuture;

public class AsyncPayoutSubscriptionClient {
    protected final ClientOptions clientOptions;

    private final AsyncRawPayoutSubscriptionClient rawClient;

    public AsyncPayoutSubscriptionClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new AsyncRawPayoutSubscriptionClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public AsyncRawPayoutSubscriptionClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Creates a payout subscription to automatically send payouts to a vendor on a recurring schedule. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for a step-by-step guide.
     */
    public CompletableFuture<AddPayoutSubscriptionResponse> createPayoutSubscription(
            PayoutSubscriptionRequestBody body) {
        return this.rawClient.createPayoutSubscription(body).thenApply(response -> response.body());
    }

    /**
     * Creates a payout subscription to automatically send payouts to a vendor on a recurring schedule. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for a step-by-step guide.
     */
    public CompletableFuture<AddPayoutSubscriptionResponse> createPayoutSubscription(
            PayoutSubscriptionRequestBody body, RequestOptions requestOptions) {
        return this.rawClient.createPayoutSubscription(body, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Creates a payout subscription to automatically send payouts to a vendor on a recurring schedule. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for a step-by-step guide.
     */
    public CompletableFuture<AddPayoutSubscriptionResponse> createPayoutSubscription(RequestPayoutSchedule request) {
        return this.rawClient.createPayoutSubscription(request).thenApply(response -> response.body());
    }

    /**
     * Creates a payout subscription to automatically send payouts to a vendor on a recurring schedule. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for a step-by-step guide.
     */
    public CompletableFuture<AddPayoutSubscriptionResponse> createPayoutSubscription(
            RequestPayoutSchedule request, RequestOptions requestOptions) {
        return this.rawClient.createPayoutSubscription(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Retrieves a single payout subscription's details. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for more information.
     */
    public CompletableFuture<GetPayoutSubscriptionResponse> getPayoutSubscription(long id) {
        return this.rawClient.getPayoutSubscription(id).thenApply(response -> response.body());
    }

    /**
     * Retrieves a single payout subscription's details. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for more information.
     */
    public CompletableFuture<GetPayoutSubscriptionResponse> getPayoutSubscription(
            long id, RequestOptions requestOptions) {
        return this.rawClient.getPayoutSubscription(id, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Updates a payout subscription's details. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for more information.
     */
    public CompletableFuture<UpdatePayoutSubscriptionResponse> updatePayoutSubscription(long id) {
        return this.rawClient.updatePayoutSubscription(id).thenApply(response -> response.body());
    }

    /**
     * Updates a payout subscription's details. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for more information.
     */
    public CompletableFuture<UpdatePayoutSubscriptionResponse> updatePayoutSubscription(
            long id, RequestOptions requestOptions) {
        return this.rawClient.updatePayoutSubscription(id, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Updates a payout subscription's details. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for more information.
     */
    public CompletableFuture<UpdatePayoutSubscriptionResponse> updatePayoutSubscription(
            long id, UpdatePayoutSubscriptionBody request) {
        return this.rawClient.updatePayoutSubscription(id, request).thenApply(response -> response.body());
    }

    /**
     * Updates a payout subscription's details. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for more information.
     */
    public CompletableFuture<UpdatePayoutSubscriptionResponse> updatePayoutSubscription(
            long id, UpdatePayoutSubscriptionBody request, RequestOptions requestOptions) {
        return this.rawClient
                .updatePayoutSubscription(id, request, requestOptions)
                .thenApply(response -> response.body());
    }

    /**
     * Deletes a payout subscription and prevents future payouts. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for more information.
     */
    public CompletableFuture<DeletePayoutSubscriptionResponse> deletePayoutSubscription(long id) {
        return this.rawClient.deletePayoutSubscription(id).thenApply(response -> response.body());
    }

    /**
     * Deletes a payout subscription and prevents future payouts. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for more information.
     */
    public CompletableFuture<DeletePayoutSubscriptionResponse> deletePayoutSubscription(
            long id, RequestOptions requestOptions) {
        return this.rawClient.deletePayoutSubscription(id, requestOptions).thenApply(response -> response.body());
    }
}
