/**
 * This file was auto-generated by Fern from our API Definition.
 */
package io.github.payabli.api.resources.payoutsubscription;

import io.github.payabli.api.core.ClientOptions;
import io.github.payabli.api.core.RequestOptions;
import io.github.payabli.api.resources.payoutsubscription.requests.RequestPayoutSchedule;
import io.github.payabli.api.resources.payoutsubscription.types.AddPayoutSubscriptionResponse;
import io.github.payabli.api.resources.payoutsubscription.types.DeletePayoutSubscriptionResponse;
import io.github.payabli.api.resources.payoutsubscription.types.GetPayoutSubscriptionResponse;
import io.github.payabli.api.resources.payoutsubscription.types.PayoutSubscriptionRequestBody;
import io.github.payabli.api.resources.payoutsubscription.types.UpdatePayoutSubscriptionBody;
import io.github.payabli.api.resources.payoutsubscription.types.UpdatePayoutSubscriptionResponse;

public class PayoutSubscriptionClient {
    protected final ClientOptions clientOptions;

    private final RawPayoutSubscriptionClient rawClient;

    public PayoutSubscriptionClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new RawPayoutSubscriptionClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public RawPayoutSubscriptionClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Creates a payout subscription to automatically send payouts to a vendor on a recurring schedule. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for a step-by-step guide.
     */
    public AddPayoutSubscriptionResponse createPayoutSubscription(PayoutSubscriptionRequestBody body) {
        return this.rawClient.createPayoutSubscription(body).body();
    }

    /**
     * Creates a payout subscription to automatically send payouts to a vendor on a recurring schedule. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for a step-by-step guide.
     */
    public AddPayoutSubscriptionResponse createPayoutSubscription(
            PayoutSubscriptionRequestBody body, RequestOptions requestOptions) {
        return this.rawClient.createPayoutSubscription(body, requestOptions).body();
    }

    /**
     * Creates a payout subscription to automatically send payouts to a vendor on a recurring schedule. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for a step-by-step guide.
     */
    public AddPayoutSubscriptionResponse createPayoutSubscription(RequestPayoutSchedule request) {
        return this.rawClient.createPayoutSubscription(request).body();
    }

    /**
     * Creates a payout subscription to automatically send payouts to a vendor on a recurring schedule. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for a step-by-step guide.
     */
    public AddPayoutSubscriptionResponse createPayoutSubscription(
            RequestPayoutSchedule request, RequestOptions requestOptions) {
        return this.rawClient.createPayoutSubscription(request, requestOptions).body();
    }

    /**
     * Retrieves a single payout subscription's details. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for more information.
     */
    public GetPayoutSubscriptionResponse getPayoutSubscription(long id) {
        return this.rawClient.getPayoutSubscription(id).body();
    }

    /**
     * Retrieves a single payout subscription's details. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for more information.
     */
    public GetPayoutSubscriptionResponse getPayoutSubscription(long id, RequestOptions requestOptions) {
        return this.rawClient.getPayoutSubscription(id, requestOptions).body();
    }

    /**
     * Updates a payout subscription's details. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for more information.
     */
    public UpdatePayoutSubscriptionResponse updatePayoutSubscription(long id) {
        return this.rawClient.updatePayoutSubscription(id).body();
    }

    /**
     * Updates a payout subscription's details. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for more information.
     */
    public UpdatePayoutSubscriptionResponse updatePayoutSubscription(long id, RequestOptions requestOptions) {
        return this.rawClient.updatePayoutSubscription(id, requestOptions).body();
    }

    /**
     * Updates a payout subscription's details. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for more information.
     */
    public UpdatePayoutSubscriptionResponse updatePayoutSubscription(long id, UpdatePayoutSubscriptionBody request) {
        return this.rawClient.updatePayoutSubscription(id, request).body();
    }

    /**
     * Updates a payout subscription's details. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for more information.
     */
    public UpdatePayoutSubscriptionResponse updatePayoutSubscription(
            long id, UpdatePayoutSubscriptionBody request, RequestOptions requestOptions) {
        return this.rawClient
                .updatePayoutSubscription(id, request, requestOptions)
                .body();
    }

    /**
     * Deletes a payout subscription and prevents future payouts. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for more information.
     */
    public DeletePayoutSubscriptionResponse deletePayoutSubscription(long id) {
        return this.rawClient.deletePayoutSubscription(id).body();
    }

    /**
     * Deletes a payout subscription and prevents future payouts. See <a href="/guides/pay-out-developer-payout-subscriptions-manage">Manage payout subscriptions</a> for more information.
     */
    public DeletePayoutSubscriptionResponse deletePayoutSubscription(long id, RequestOptions requestOptions) {
        return this.rawClient.deletePayoutSubscription(id, requestOptions).body();
    }
}
