/**
 * This file was auto-generated by Fern from our API Definition.
 */
package io.github.payabli.api.resources.token;

import io.github.payabli.api.core.ClientOptions;
import io.github.payabli.api.core.RequestOptions;
import io.github.payabli.api.resources.token.requests.CreateServerSideTokenRequest;
import io.github.payabli.api.types.PayabliAccessTokenResponse;

public class TokenClient {
    protected final ClientOptions clientOptions;

    private final RawTokenClient rawClient;

    public TokenClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new RawTokenClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public RawTokenClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Exchanges a client ID and client secret for a short-lived Bearer access token using the OAuth2 client-credentials flow. Designed for server-to-server use: the credentials and the returned token stay on your backend. Send the returned <code>access_token</code> in the <code>Authorization</code> header as <code>Bearer &lt;access_token&gt;</code> on subsequent API calls. See the <a href="/developers/oauth-authentication">OAuth authentication guide</a> for the full flow.
     */
    public PayabliAccessTokenResponse createServerSideToken(CreateServerSideTokenRequest request) {
        return this.rawClient.createServerSideToken(request).body();
    }

    /**
     * Exchanges a client ID and client secret for a short-lived Bearer access token using the OAuth2 client-credentials flow. Designed for server-to-server use: the credentials and the returned token stay on your backend. Send the returned <code>access_token</code> in the <code>Authorization</code> header as <code>Bearer &lt;access_token&gt;</code> on subsequent API calls. See the <a href="/developers/oauth-authentication">OAuth authentication guide</a> for the full flow.
     */
    public PayabliAccessTokenResponse createServerSideToken(
            CreateServerSideTokenRequest request, RequestOptions requestOptions) {
        return this.rawClient.createServerSideToken(request, requestOptions).body();
    }
}
